.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #d9c5a9;
}

.header {
  /* background-color: #28231f; */
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  font-size: 1.5rem;
  color: #e8d8c4;
  padding: 0.2rem;
  font-weight: bold;
}

.footer {
  /* background-color: #28231f; */
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  font-size: 1.5rem;
  padding: 0.2rem;
  font-weight: bold;
}

.main {
  margin-top: calc(64px + 72px); /* Header height + Nav height */
  padding: 2rem 20px;
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
